<div class="user">
	<!-- USER-INFO -->
	<%= render :partial => 'users/user_info', :object => show %>

	<!-- USER-STATUS -->
	<%= render :partial => 'users/user_status', :object => show %>

	<div class="clear"></div>
</div>
