<ul class="identity-providers">
    <li>
    <%= link_to user_omniauth_authorize_path(:twitter, { follow: user_id }), :class => 'provider twitter', :rel => 'nofollow' do %>
            <span>Sign in with Twitter</span>
        <% end %>
    </li>
    <li>
        <p class="or"><span>or</span></p>
    </li>
    <li>
        <%= link_to user_omniauth_authorize_path(:facebook, { follow: user_id }), :class => 'provider facebook', :rel => 'nofollow' do %>
            <span>Sign in with Facebook</span>
        <% end %>
    </li>
    <li>
        <p class="or"><span>or</span></p>
    </li>
    <li>
        <%= link_to user_omniauth_authorize_path(:steam, { follow: user_id }), :class => 'provider steam', :rel => 'nofollow' do %>
            <span>Sign in with Steam</span>
        <% end %>
    </li>
</ul>
