<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each_with_index do |provider, index| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), :class => "provider #{provider.to_s}", :rel => 'nofollow' do %>
			<span><%= "Sign in with #{provider.to_s.titleize}" %></span>
		<% end %>
		<% if index < resource_class.omniauth_providers.length - 1 then %>
			<p class="or"><span>or</span></p>
		<% end %>
  <% end -%>
<% end -%>
