<!-- START: FOOTER -->
<footer>
	<ul class="links">
		<li><%= link_to 'Blog', 'http://blog.r3pl4y.com' %></li>
		<li><%= link_to 'About', '/about' %></li>
		<li>&copy; Rubriks</li>
	</ul>
</footer>
<!-- END: FOOTER -->
